.classpath
.idea/*
**/.idea
.project
.settings
.settings/*
target/
*.iml
*.mvn
**/*.iml
**/*.mvn
/build/
out.txt
*.lck
*.log
*.script
*.out
/db/
/.apt_generated/
imprimir.txt
.idea/
.factorypath
frontend/
scripts/node/node_modules
scripts/node/credentials.json
src/main/**/*-dev.properties
src/main/**/application.properties
src/main/resources/application.properties
node_modules/
.DS_Store
**/*.back
conf/secret.key
*.ipr
*.iws
nb-configuration.xml
build.gradle
gradle/
gs-rest-service-complete/.springBeans
**/*.springBeans
hola.tmp
